body {
  background-color: #ffb288;
    color: #000000;
  font-family: 'Figtree', sans-serif;
}

h1 {
  margin: 1em auto;
  text-align: center;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  margin: 1em auto;
  text-align: left;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

  form {
    width: 60vw;
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    padding-bottom: 50px;

  }

  input, textarea, select {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 20px;
    padding: 15px 20px;
    border: #000000 2px double;
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
    box-sizing: border-box;
    border-spacing: 20px 1rem;
    font-family: 'Figtree', sans-serif;
  }

  .inline {
    width: unset;
    margin: 0 5px 0 0;
    vertical-align: middle;
  }

  label {
    display: block;
    margin: 30px 0 0 0;
  }

  fieldset {
    border: none;
    padding: 2em 0;
    border-bottom: 1px solid #000000;
 
  }

  fieldset:last-of-type {
    border-bottom: none;
  }

  input[type=submit] {
    display: block;
    background-color: #ffffff;
    color: #000000;
    margin: 1em auto;
    font-size: 14px;
    max-width: 200px;
    font-family: 'Figtree', sans-serif;
  }

.angels {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    width: 50%;
    border-radius: 100% 100% 0% 0%;
    border-style: double;
    border-width: 3px;
    border-color: #1bbfff;
  }

  .top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px 100px 0px 0px;
  }

  .bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 100px 100px;
  }